.selector {
    margin: 25px 0px;
}

option {
    min-width: 50px;
}

.exerciseTable {
    margin: auto;
}

.exerciseTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

.exerciseTable thead {
    background-color: #dddddd;
}
  
.exerciseTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.exerciseTable tr:nth-child(even) {
    background-color: #dddddd;
}




  